td.upper-line { 
	border-top: solid 1px black; 
}
table.fraction { 
	text-align: center; 
	vertical-align: middle;
	font-family: 'Crimson Text', serif;
	font-size: 16px;
	margin-top: 26px;
}
table.fraction td {
	padding: 0 1px;
}
table.fraction td.function {
	font-size: 24px;
}
.page-header {
	margin-bottom: 0;
	margin-top: 20px;
	border-bottom: 0;
}
.margin-bottom {
	margin-bottom: 5px;
}
h5 {
	margin-top: -1px;
}